# Build artifacts
*.o
*.out

# Compiled targets
badcnt
goodcnt
goodcnt_mutex
prodcons_mutex
prodcons_sem
simple_pipe
shm
sysV-msg
ctshell
runner
thread-shared-vars
file_copy
file_copy_mmap

# Program output
consumer.out

# macOS
.DS_Store
